/* BEGIN DEMO STYLE */
	*{margin:0;padding:0}
	.caption{font-style:italic;color:#887;}
	.demo{position:relative;margin-top:0em;}
	.gallery_demo{width:928px;margin:0 auto;}
	.gallery_demo li{width:68px;height:50px;border:1px solid #111;margin: 0 2px;}
	.gallery_demo li div .caption{font:italic 0.7em/1.4 georgia,serif;}
	
	#main_image{margin:0 auto 30px auto;height:333px;width:928px;}
	#main_image img{margin-bottom:10px;}
	
	.nav{padding-top:15px;clear:both;}
	
	.info{text-align:left;width:928px;margin:30px auto;border-top:1px dotted #221;padding-top:30px;}
	.info p{margin-top:1.6em;}
	
	.galleria{list-style:none;width:928px}
	.galleria li{display:block;width:50px;height:50px;overflow:hidden;float:left;margin:0 2px 2px 0}
	.galleria li a{display:none}
	.galleria li div{position:absolute;display:none;top:0;left:180px}
	.galleria li div img{cursor:pointer}
	.galleria li.active div img,.galleria li.active div{display:block}
	.galleria li img.thumb{cursor:pointer;top:auto;left:auto;display:block;width:auto;height:auto}
	.galleria li .caption{display:block;padding-top:.5em}
	* html .galleria li div span{width:610px} /* MSIE bug */
