@charset "utf-8";
/* CSS Document */

body {
 background-color: #ffffff;
 margin: 0px;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 12px;
 color: #696969;
}

#wrap {
 width: 928px;
 margin: 0 auto;
 background-color: #ffffff;
}

#wrap-sable {
 width: 928px;
 margin: 0 auto;
}

#sable {
 width: 928px;
 background-image: url(images/sable-background.jpg);
 background-repeat: repeat-y;
}

#header {
 width: 928px;
 height: 180px;
 background-image: url(images/header.jpg?v=7895521);
 background-repeat: no-repeat;
}

#menu {
 width: 928px;
 padding-top: 129px;
 padding-left: 15px;
}

#page {
 width: 928px;
 padding-bottom: 30px;
 padding-top: 20px;
 text-align: justify;
}

#page-sable {
 width: 660px;
 padding-bottom: 30px;
 padding-top: 20px;
 float: right;
 text-align: justify;
}

#menu-sable {
 width: 200px;
 float: left;
 padding-left: 5px;
}

.no-pad { padding:0px; margin:0px; margin-top: 25px; }

.side-list { text-decoration: none; }
.side-list:hover { text-decoration: none; }

.sablist {
 list-style: none;
 border-bottom: 1px solid #c0c0c0;
 padding: 5px;
}

.sablist:hover {
 list-style: none;
 border-bottom: 1px solid #c0c0c0;
 padding: 5px;
 background-color: #c0c0c0;
 text-decoration: none;
}

#footer {
 font-size: 10px;
 text-align: center;
 padding-bottom: 50px;
}

h1 {
 font: normal 25px Arial, Helvetica, sans-serif;
 color: #696969;
 text-align: left;
 margin-top: 0px;
}

a {
 color: #990033;
 text-decoration: underline;
}

a:hover {
 color: #000000;
 text-decoration: none;
}

.long { width: 200px; }




/* Slideshow */
#slideshow {
	width:928px;
    height:415px;
    position:relative;
}

#slideshow IMG {
    border-radius: 20px;
    height: 100%;
    left:0;
    max-height: 415px;
    max-width: 928px;
    /* opacity:0.0; */
    position:absolute;
    top:0;
    width: 100%;
    z-index:8;

}

#slideshow IMG:first-child {

    opacity: 1;

}

#slideshow IMG.active {
    opacity:1.0;
    z-index:10;
}

#slideshow IMG.last-active {
    z-index:9;
}





/*CSS MENU*/
.jqueryslidemenu{
 font: normal 12px Arial;
 width: 100%;
}

.jqueryslidemenu ul{
 margin: 0;
 padding: 0;
 list-style-type: none;
}

/*Top level list items*/
.jqueryslidemenu ul li{
 position: relative;
 display: inline;
 float: left;
}

/*Top level menu link items style*/
.jqueryslidemenu ul li a{
 display: block;
 padding: 16px 21px 16px 21px;
 text-decoration: none;
 color: #ffffff;
 border-right: 1px solid #ba2454;
}

* html .jqueryslidemenu ul li a{ /*IE6 hack to get sub menu links to behave correctly*/
 display: inline-block;
}

.jqueryslidemenu ul li a:hover{
 color: #ffffff;
 background-color: #3b3b3b;
}
	
/*1st sub level menu*/
.jqueryslidemenu ul li ul{
 position: absolute;
 left: 0;
 display: block;
 visibility: hidden;
 background-color: #1b4900;
 color: #ba2454;
}

/*Sub level menu list items (undo style from Top level List Items)*/
.jqueryslidemenu ul li ul li{
 display: list-item;
 float: none;
}

/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.jqueryslidemenu ul li ul li ul{
 top: 0;
}

/* Sub level menu links style */
.jqueryslidemenu ul li ul li a{
 font: normal 12px Arial;
 width: 200px; /*width of sub menus*/
 padding: 5px;
 margin: 0;
 border-top-width: 0;
 border-bottom: 1px solid #ba2454;
 border-right: 0px solid #ffffff;
 color: #8ff952;
}

.jqueryslidemenuz ul li ul li a:hover{ /*sub menus hover style*/
 background: #ff9308;
 color: #ffffff;
}

#header {
    position: relative;
}
#booking-header {
    position: absolute;
    right: 6px;
    top: 37px;
}

.book-btn {
  background: #011b39;
  background-image: -webkit-linear-gradient(top, #011b39, #024591);
  background-image: -moz-linear-gradient(top, #011b39, #024591);
  background-image: -ms-linear-gradient(top, #011b39, #024591);
  background-image: -o-linear-gradient(top, #011b39, #024591);
  background-image: linear-gradient(to bottom, #011b39, #024591);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 18px;
  padding: 8px 16px 8px 16px;
  border: solid #000080 1px;
  text-decoration: none;
}

.book-btn:hover {
  background: #024591;
  background-image: -webkit-linear-gradient(top, #024591, #011b39);
  background-image: -moz-linear-gradient(top, #024591, #011b39);
  background-image: -ms-linear-gradient(top, #024591, #011b39);
  background-image: -o-linear-gradient(top, #024591, #011b39);
  background-image: linear-gradient(to bottom, #024591, #011b39);
  text-decoration: none;
  color: #ffffff;
}

#footer #social {
    float: right;
}
#footer #social img {
    float: left;
    margin-left: 5px;
}

.img-header {

    border-radius: 20px;
    max-height: 415px;
    max-width: 928px;
    width: 100%;

}